.shape {
  height: 0;
  width: 0;
  border-bottom: 30px solid black;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}
.squareshape {
  height: 250px;
  width: 250px;
  background-color: rosybrown;
}
